.sidebar::-webkit-scrollbar {
  width: 3px;
}

.sidebar::-webkit-scrollbar-track {
  border-radius: 2px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: rgb(59 130 246);
  border-radius: 2px;
}
